.draggable-area {
    cursor: grab;
}

.draggable-area.grabbing {
    cursor: grabbing;
    user-select: none;
}

.draggable-area.grabbing * {
    -webkit-user-drag: none;
    user-select: none;
}

.draggable-area.moving * {
    pointer-events: none;
}

.draggable-area.grabbing *:not(a, button) {
    pointer-events: none;
}