.draggable-area {
    cursor: grab;
}

.draggable-area.grabbing {
    cursor: grabbing;
    user-select: none;
}

.draggable-area.grabbing * {
    user-drag: none;
    user-select: none;
}

.draggable-area.grabbing *:not(a, button) {
    pointer-events: none;
}